body{
	background-color: black;
}
.rating{
	font-weight: bold;
}

.release{
	font-weight: bold;
}

img{
	max-width: 100%;
	padding-top: 55px;
}

/* .overview{
	overflow: hidden;
	max-height: 30px;
} */

.eachMovie{
	background-color: black;
	color: white;
}
/* .eachMovie:hover{
	color: white;
	opacity: 0.8;
} */
.modal-content{
	color: black;
}